[Desktop Entry]
Type=Application
Name=Tine
Comment=Fast Logseq-compatible outliner
Exec=tine
Icon=page.tine.Tine
Terminal=false
Categories=Office;Utility;
StartupWMClass=tine
Keywords=outliner;logseq;markdown;notes;journal;
