[Desktop Entry]
Type=Application
Name=Trilium Notes
GenericName=Knowledge Base
Comment=Build your personal knowledge base with Trilium Notes
Exec=trilium %U
Icon=com.triliumnext.notes
Terminal=false
StartupNotify=true
StartupWMClass=Trilium Notes
Categories=Office;Utility;
Keywords=notes;knowledgebase;outliner;markdown;wiki;
